a {
  color: white;
  display: inline-block;
  text-decoration: none;
  transition: color .25s linear, border .3s linear;
}

a:hover {
  color: #0f0;
  text-decoration: none;
}

html, body {
  min-height: 100%;
}

body {
  background-color: #080808;
  background-image: linear-gradient(#2a2a2a, #080808);
  color: #888;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  line-height: 1.6rem;
  margin: 0;
}

p, ul, h2, h3, h4 {
  margin: 1.6rem 0;
}

footer {
  color: #323232;
  font-size: 13px;
}

footer i {
  margin-right: 4px;
  text-align: center;
  width: 12px;
}

footer a {
  color: #ff0;
}

h1 {
  display: none;
}

h2, h3, h4, label.tab {
  font-family: 'Rajdhani', sans-serif;
  line-height: .8rem;
  font-weight: 700;
}

h2, h3, h4, label.tab {
  font-size: 23px;
  text-transform: uppercase;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 17px;
  margin-bottom: .8rem;
}

header {
  background-color: transparent;
  background-image: url('images/Logo25.png');
  background-repeat: no-repeat;
  background-position: -420px 20px;
  background-size: 630px;
  height: 220px;
  margin-top: -5%;
  padding-left: 5%;
}

.header-flair {
  background-image: url('images/Background.gif');
  background-repeat: repeat;
  transform: skewY(1.5deg);
}

i.fa-copyright {
  position: relative;
  left: -1px;
}

i.fa-rebel {
  transform: scale(.9);
}

label.tab {
  color: white;
  cursor: pointer;
  display: inline-block;
  padding-right: 16px;
}

label.tab:hover {
  color: #ff0;
  transition: color .25s linear;
}

label.tab a {
  color: inherit;
}

p {
  max-width: 640px;
}

p a {
  display: inline;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

section {
  margin-bottom: 3.2rem;
}

table {
  min-width: 70%;
}

ul.roman {
  list-style-type: upper-roman;
}

#binaerpilot a:hover {
  border-color: #0ff;
  color: #0ff;
}

#bitcoin {
  color: #242424;
  white-space: nowrap;
}

#content {
  margin-top: -.8rem;
}

#manifesto ul {
  padding-left: 0;
  position: relative;
  left: 30px;
}

#manifesto li {
  padding-left: 0.8rem;
}

#probe {
  padding-top: 156px;
}

#probe .avatar {
  float: left;
  transform: scaleX(-1);
}

#social {
  float: left;
  list-style-type: none;
  margin-top: 16px;
  padding-left: 0;
}

#social li {
  float: left;
}

#social li a {
  color: black;
  display: inline-block;
  padding: 4px 8px;
}

#social a:hover {
  color: #0f0;
}

#twitch-link {
  display: none;
}

#tab-2:checked ~ #tab-2-label,
#tab-1:checked ~ #tab-1-label,
#tab-0:checked ~ #tab-0-label {
  color: #ff0;
}

#tab-2:checked ~ #content #content-2,
#tab-1:checked ~ #content #content-1,
#tab-0:checked ~ #content #content-0 {
  display: block;
  opacity: 1;
}

#wrapper {
  margin: auto;
  max-width: 800px;
  min-height: 100%;
  padding: 3.2rem 1.6rem;
}

.avatar {
  line-height: 1px;
}

.discord-commands {
  font-size: 13px;
  margin: 2.4rem 0 1.6rem 0;
}

.discord-commands h4 i {
  font-size: 13px;
  margin-left: 4px;
  position: relative;
  top: -3px;
}

.discord-commands table {
  border-top: solid 2px #242424;
  border-collapse: collapse;
}

.discord-commands td {
  border-top: solid 1px #161616;
  padding: 4px 32px 4px 0;
}

.discord-commands th {
  border-bottom: solid 2px #161616;
  font-size: 13px;
  text-align: left;
}

.discord-commands .command {
  font-weight: 700;
}

.discord-commands .size {
  opacity: .5;
}

.hidden {
  display: none;
}

.call-to-action {
  border-bottom: solid 1px #323232;
  font-size: 19px;
  padding-bottom: 1px;
  position: relative;
}

.call-to-action:hover {
  border-color: #0f0;
}

.patreon-unlock i,
.public i {
  text-align: center;
  width: 24px;
}

.patreon-unlock:hover i::before {
  content: "\f09c";
}

.content-block {
  margin: 3.2rem 0;
}

.content-block.highlight {
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  padding: 16px 0 16px 32px;
  position: relative; left: -32px;
}


.shop a i {
  margin-left: -2px;
}

.tab-content {
  display: none;
}

.tab-content ul {
  padding-left: 48px;
}

.twitch a i {
  transform: scale(.95);
}


/* animations */
.glow {
  animation: glow 32s infinite linear;
}

@keyframes glow {
  0% {
    background-color:#ff0;
  }
  50% {
    background-color:#fb0;
  }
  100% {
    background-color:#ff0;
  }
}

@media all and (max-width: 1180px) {
  header {
    background-size: 580px;
    height: 200px;
  }

  #probe {
    padding-top: 136px;
  }

  #social .instagram {
    display: none;
  }
}

@media all and (max-width: 780px) {
  header {
    background-size: 500px;
    height: 150px;
  }

  #probe {
    padding-top: 86px;
  }

  #social .twitch {
    display: none;
  }

  table {
    min-width: 85%;
  }

  .discord-commands td {
    padding-right: 24px;
  }
}

@media all and (max-width: 550px) {
  header {
    background-size: 340px;
    height: 110px;
  }

  table {
    min-width: 100%;
  }

  .tab-content ul {
    padding-left: 24px;
  }

  ul.roman li {
    padding-left: 8px;
  }


  #probe {
    padding-top: 46px;
  }

  #social .facebook {
    display: none;
  }
  
  #tab-2-label {
    display: none;
  }

  .discord-commands td {
    padding-right: 16px;
  }

  .discord-commands .description {
    display: none;
  }
}

@media all and (max-width: 350px) {
  td.size {
    display: none;
  }

  ul.roman li {
    padding-left: 0;
  }

  .tab-content ul {
    list-style-type: none;
    padding-left: 0;
  }

  #wrapper {
    padding: 1.6rem .8rem;
  }
}

/* double click the internets  */
label.tab {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
